<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://www.pngkey.com/png/detail/233-2332677_ega-png.png" 
        
        height="250px"
        width="400px"
        
        alt="">
    </div>

    <div class="big-card__title">

        <h1>
            <a href="">
        
                Nova versão do Angular
            
            </a>
        </h1>
        
      
    </div>


    <div class="big-card__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eligendi cumque vero, esse velit eos odio, sed temporibus, impedit placeat accusantium sint aliquam dolores neque magnam modi. Ab, dolore quia.

    </div>
</div>